
/* responsive tablet */
@media  screen and (min-width: 768px) {
    /* main header */
    .main-header{
        justify-content: flex-start;
        padding-left: 20px;
    }

    /* space left and right high */
    .container{
        max-width: 80%;
    }
    
    /* (dolce tradizionale) */
    .none{
        display: inline;
    }

    /* bigger title  */
    h1{
        font-size: 50px;
    }
    
    /* recipe */
    .grill{
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-grill{
        flex-basis: calc(100% / 3);
    }

    /* social */
    .fa-brands{
        padding: 15px 50px;
        border-radius: 20px;
    }

    /* presentation */
    .img-60{
        float: left;
        padding-right: 10px;
    }

}


/* responsive desktop */
@media screen and (min-width: 992px) {
     /* bigger title  */
     h1{
        font-size: 65px;
    }

    /* recipe */
    .grill{
        flex-direction: column;
    }
    .recipe{
        flex-direction: row;
        gap: 0;
    }

    .left-65{
        flex-basis: 65%;
    }

    .right-35{
        flex-basis: 35%;
    }

    /* social */
    .social{
        gap: 10px;
    }
    .fa-brands{
        padding: 15px 10%;
    }

    .item-social{
        flex-basis: calc(100% / 5 - 40% / 4);
    }

    .font-social{
        color: black;
        padding-left: 5px;
        font-weight: bold;
    }

    .none-social{
        display: inline;
    }

    /* footer */
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }

    .where{
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .some-link{
        margin-bottom: 0;
    }
    .link-footer{
        flex-wrap: nowrap;
        padding-right: 10px;
    }
}