/* generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrot, 'Helvetica Neue', sans-serif;
    background-color: #f6f5f3;
}

h1{
    font-family: 'Nerko One', cursive;
    font-size: 45px;
    font-weight: 900;
    padding: 15px 0;
}
img{
    display: block;
    width: 100%;
}

iframe{
    width: 100%;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.container-recipe{
    max-width: 80%;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

address{
    font-style: normal;
}
/* header */
.main-header{
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* header recipe */
.tipology{
    color: #b0b0af;
    font-weight: 500;
    font-size: 18px;
}

.header-recipe{
    justify-content: space-between;
    align-items: center;
}

.name-recipe{
    color: #4e3969;
    font-size: 30px;
    font-weight: bold;
}

.rate{
    padding: 5px 15px;
    border-radius: 15px;
}

/* recipe */
.recipe{
    flex-direction: column;
    gap: 20px;
}

.col{
    flex-basis: 100%;
}

.table-recipe{
    justify-content: space-between;
    align-items: center;
}

.kcal{
    background-color: #7b69a2;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}

/* list recipe */
.grill{
    display: flex;
    flex-direction: column;
}

/* social */
.social{
    justify-content: space-around;
}

.fa-brands{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
}

.item-social{
    flex-basis: calc(100% / 5);
}

.none-social{
    display: none;
}
/* footer */
.footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.where{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-footer{
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.link-footer > li{
    flex-basis: calc((100% / 4) - (30px / 4));
}

/* presentation */
.border-presentation{
    border: 1px solid orange;
    width: 60px
}

/* utils */

.border{
    border: 1px solid lightgray;
}

.bg-white{
    background-color: white;
}

.bg-orange{
    background-color: #f7982e;
}

.bg-light-purple{
    background-color: #c69aec;
}

.color-orange{
    color: #ff9613;
}

.color-black{
    color: black;
}

.color-white{
    color: white;
}

.color-red{
    color: red;
}

.color-blue{
    color: blue;
}

.color-light-blue{
    color: lightblue;
}

.color-lightgrey{
    color: rgba(30, 29, 29, 0.779);
}

.flex{
    display: flex;
}

.no-text-deco{
    text-decoration: none;
}

.img-60{
    width: 350px;
    margin: 0 auto;
}

.none{
    display: none;
}

.mg-b-10{
    margin-bottom: 10px;
}

.mg-b-20{
    margin-bottom: 20px;
}

.mg-b-30{
    margin-bottom: 30px;
}

.mg-bottom-40{
    margin-bottom: 40px;
}

.mg-b-50{
    margin-bottom: 50px;
}

.mg-t-20{
    margin-top: 20px;
}

.pd-r-5{
    padding-right: 5px;
}

.pd-20{
    padding: 20px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-35{
    font-size: 35px;
}

.font-weight-900{
    font-weight: 900;
}